:root {
  --primary: #335d92;
  --background: #e1e1e1;
  --hover: rgba(68, 107, 158, 0.2);
  --highlight: rgba(68, 107, 158, 0.1);
}

* {
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

h1 {
  color: var(--primary);
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
}

input, button {
  font-family: inherit;
  font-size: inherit;
  color: var(--primary);
  background-color: var(--highlight);
  border-radius: 2em;
  border: 2px solid transparent;
  outline: none;
  font-variant-numeric: tabular-nums;
}

input {
  padding: 1em 2em;
  width: 300px;
}

input:focus {
  border: 2px solid var(--primary);
}

input:active {
  background-color: var(--hover);
}

button {
  padding: 1em 2em;
  cursor: pointer;
  margin: 0 0.5rem;
}

button:hover {
  background-color: var(--hover);
  border: 2px solid var(--primary);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  box-shadow: 0 0.15rem var(--primary);
}